@media #{$small-only} {

  section ul, section p {
    font-size: 16px;
  }

  #content.content {
    header.navigation {
      max-width: 100%;

      .nav-col-one, .nav-col-two {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .nav-col-one svg, .nav-col-two h2 {
        margin: 0;
        padding: 0;
      }

      .nav-col-one svg {
        left: 5%;
        position: relative;
      }

      .nav-col-two h2 {
        color: $light-grey;
        font-size: 20px;
        float: left;
        position: relative;
        margin-left: 5%;
      }
    }

    .description, .contact {
      max-width: 100%;
    }

    .description {
      .desc-col-one {
        padding: 10% 5%;

        p {
          width: 100%;
          position: static;
          top: inherit;
          left: inherit;
          font-size: 16px;
          @include translate(0, 0);
          margin: 0;
          padding-bottom: 10%;
        }

        div {
          width: 100%;
          margin: 0;
          padding: 0;
        }

        .gallery {
          margin-bottom: 0;
        }

      }

      .desc-col-two {
        padding: 5%;
        background: $ligher-grey;
        ul {
          margin: 0;
          padding: 5% 0% 5% 0;
          li {
            .link {
              color: $link-green;
              font-size: 20px;
            }

          }
        }
      }
    }

    .contact {
      .con-col-one {

        .con-desc {
          position: relative;
          left: inherit;
          width: 100%;
          padding: 10% 0 0 0;
          @include translate(0, 0);

          p, address p, address a {
            font-size: 16px;
          }
        }

      }

      .con-col-two {
        iframe {
          width: 100%;
          height: 300px;
        }
        padding: 0;
      }
    }

  }

  footer {
    height: auto;
    .row {
      .foot-sec-one {
        padding-top: 20px;

        a {
          line-height: normal;
          padding-left: 0;
        }

        .foot-sec-one a, .foot-sec-two address ul li {
          font-size: 20px;
        }
      }
      .foot-sec-two address {
        ul {
          margin-left: 0;
          float: left !important;
          li {
            display: inline-block;
            line-height: normal;
          }
        }
      }

    }

    .imprint {
      margin-left: 0 !important;
    }

    .foot-sec-two address {
      float: none;
    }
  }

  .column, .columns {
    padding: 0 5% 10% 5%;
  }

}

