@media #{$medium-only} {
  #content.content {
    header.navigation {
      max-width: 100%;

      .nav-col-one, .nav-col-two {

      }

      .nav-col-one svg, .nav-col-two h2 {

      }

      .nav-col-two h2 {
        color: $light-grey;
        font-size: 20px;
        right: 5%;
        font-weight: 500;
      }
    }

    .description, .contact {
      max-width: 100%;
    }

    .description {
      .desc-col-one {
        padding: 10%;
        p {
          padding-bottom: 10%;
          width: 100%;
          position: relative;
          top: inherit;
          left: inherit;
          font-size: 20px;
          margin: 0;
          @include translate(0, 0);
        }

        .gallery {
          margin: 0;
        }
      }

      .desc-col-two {
        background: $ligher-grey;
        padding: 10%;
        ul {
          margin: 0;
          padding: 0;
          li {
            .link {
              color: $link-green;
              font-size: 20px;
            }

            p {
              margin-top: -10px;
            }
          }
        }
      }
    }

    .contact {
      .con-col-one {

        .con-desc {
          position: relative;
          left: inherit;
          width: 70%;
          padding: 10% 0 10% 0;
          @include translate(0, 0);

          p, address p, address a {
            font-size: 20px;
          }
        }

      }

      .con-col-two {
        iframe {
          width: 100%;
          height: 500px;
        }
        padding: 0;
      }
    }

  }

  footer {
    .row {
      .foot-sec-one {
        padding-top: 20px;
        a {
          line-height: normal;
          padding-left: 0;
        }

      }

      .foot-sec-one a, .foot-sec-two address ul li {
        font-size: 20px;
      }
      .foot-sec-two address ul li:last-child {
        white-space: nowrap;
      }
      .foot-sec-two address {
        ul {
          float: left !important;
          margin-left: 0;
          li {
            line-height: normal;
          }
        }
      }
    }

    .imprint {
      margin-left: 0 !important;
    }

    .foot-sec-two address {
      float: none;
    }

  }

  .mfp-wrap {
    overflow: hidden;
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
  }

}