//@import "settings";
//@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


// sticky footer

* {
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  //margin-bottom: -50px;
}

.page-wrap:after {
  content: "";
  display: block;
}

/* not used at the moment

.site-footer, .page-wrap:after {
  height: 50px;
}*/

.site-footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  left: 0;
  
}

/*nav, .site-footer, #top, #bottom, #left, #right {
  display: none !important;
  
}*/

// border around 

#top, #bottom, #left, #right {
  background: #710909;
  position: fixed;
  
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 50px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top, #bottom {
  left: 0;
  right: 0;
  height: 50px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}

@media only screen and (max-width: 669px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #top, #bottom, #left, #right {
    display: none;
  }
}

/* CSS MAAAAGIIICC */

nav {
  display: table;
  width: 100%;
  height: 50px;
  background-color: #007095;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  ul li {
    display: inline-block;
    list-style: none;
    line-height: 50px;
  }
}

.site-footer {
  background-color: orange;

}

.tile-wrap {
  display: table;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0px auto 50px auto;
  transform: translateY(50px);
  .tile-wrap-part {
    display: table-row;
    width: 100%;
  }

  .tile-wrap-part div {
    display: table-cell;
    width: 33%;
  }

  .tile-wrap-part1 div:nth-child(odd), .tile-wrap-part3 div:nth-child(odd) {
    background-color: blue;
  }

  .tile-wrap-part1 div:nth-child(even), .tile-wrap-part3 div:nth-child(even) {
    background-color: green;
  }

  .tile-wrap-part2 div:nth-child(even), .tile-wrap-part4 div:nth-child(even) {
    background-color: blue;
  }

  .tile-wrap-part2 div:nth-child(odd), .tile-wrap-part4 div:nth-child(odd) {
    background-color: green;
  }

}

@import "mobile";
