/* line 45, ../scss/app.scss */
* {
  margin: 0;
}

/* line 49, ../scss/app.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 54, ../scss/app.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
}

/* line 60, ../scss/app.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* not used at the moment

.site-footer, .page-wrap:after {
  height: 50px;
}*/
/* line 71, ../scss/app.scss */
.site-footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  left: 0;
}

/*nav, .site-footer, #top, #bottom, #left, #right {
  display: none !important;
  
}*/
/* line 88, ../scss/app.scss */
#top, #bottom, #left, #right {
  background: #710909;
  position: fixed;
}

/* line 94, ../scss/app.scss */
#left, #right {
  top: 0;
  bottom: 0;
  width: 50px;
}

/* line 100, ../scss/app.scss */
#left {
  left: 0;
}

/* line 104, ../scss/app.scss */
#right {
  right: 0;
}

/* line 108, ../scss/app.scss */
#top, #bottom {
  left: 0;
  right: 0;
  height: 50px;
}

/* line 114, ../scss/app.scss */
#top {
  top: 0;
}

/* line 118, ../scss/app.scss */
#bottom {
  bottom: 0;
}

@media only screen and (max-width: 669px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 124, ../scss/app.scss */
  #top, #bottom, #left, #right {
    display: none;
  }
}
/* CSS MAAAAGIIICC */
/* line 131, ../scss/app.scss */
nav {
  display: table;
  width: 100%;
  height: 50px;
  background-color: #007095;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 141, ../scss/app.scss */
nav ul li {
  display: inline-block;
  list-style: none;
  line-height: 50px;
}

/* line 148, ../scss/app.scss */
.site-footer {
  background-color: orange;
}

/* line 153, ../scss/app.scss */
.tile-wrap {
  display: table;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0px auto 50px auto;
  transform: translateY(50px);
}
/* line 160, ../scss/app.scss */
.tile-wrap .tile-wrap-part {
  display: table-row;
  width: 100%;
}
/* line 165, ../scss/app.scss */
.tile-wrap .tile-wrap-part div {
  display: table-cell;
  width: 33%;
}
/* line 170, ../scss/app.scss */
.tile-wrap .tile-wrap-part1 div:nth-child(odd), .tile-wrap .tile-wrap-part3 div:nth-child(odd) {
  background-color: blue;
}
/* line 174, ../scss/app.scss */
.tile-wrap .tile-wrap-part1 div:nth-child(even), .tile-wrap .tile-wrap-part3 div:nth-child(even) {
  background-color: green;
}
/* line 178, ../scss/app.scss */
.tile-wrap .tile-wrap-part2 div:nth-child(even), .tile-wrap .tile-wrap-part4 div:nth-child(even) {
  background-color: blue;
}
/* line 182, ../scss/app.scss */
.tile-wrap .tile-wrap-part2 div:nth-child(odd), .tile-wrap .tile-wrap-part4 div:nth-child(odd) {
  background-color: green;
}

@media screen and (max-width: 1024px) {
  /* line 2, ../scss/_mobile.scss */
  .tile-wrap {
    width: 100% !important;
  }
}
@media screen and (max-width: 640px) {
  /* line 9, ../scss/_mobile.scss */
  .tile-wrap, .tile-wrap .tile-wrap-part, .tile-wrap .tile-wrap-part div {
    display: block;
  }

  /* line 12, ../scss/_mobile.scss */
  .tile-wrap {
    height: inherit !important;
    width: inherit !important;
  }
  /* line 15, ../scss/_mobile.scss */
  .tile-wrap .tile-wrap-part {
    width: 100%;
    height: inherit !important;
  }
  /* line 20, ../scss/_mobile.scss */
  .tile-wrap .tile-wrap-part div {
    width: 100%;
    height: 200px;
  }

  /* line 25, ../scss/_mobile.scss */
  .site-footer {
    position: relative;
  }
}
