*{
    margin:0;
    padding:0;
}

body{
    padding:5%;
}

img{
    margin: 5% auto;
    display: block;
    width:100%;
    max-width: 1000px;
    height: auto;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.4);
}